html, body {
    width: 100%;
    height: 100%;
    background-color: #3f3e3b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#chartdiv {
    width: 100%;
    height: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.header {
    position: fixed;
    padding: 2%;
    width: 100%;
    top: 0;
    background-color: #aaa;
}

.alert {
    position: absolute;
    margin: 10% 15%;
    width: 70%;
    background-color: #cc0000;
    text-align: center;
    padding: 2rem 0;
    animation: down 2s;
}

.header span {
    padding: 0 2rem;
}

.gallery {
    width: 100%;
    max-height: 30%;
    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.photo {
    width: 6%;
    margin: 0 .3%;
    cursor: pointer;
}

.photo:hover {
    transform: scale(1.1);
}

.full-image {
    z-index: 9999;
    position: absolute;
}

.full-image-h {
    border-radius: 3%;
    margin: 4rem 30%;
}

.full-image-v {
    border-radius: 3%;
    margin: 2rem 35%;
}

.full-video {
    width: 80%;
    height: 80%;
    border-radius: 3%;
    margin: 4rem 10%;
}

.blur {
    opacity: .3;
}

.hide {
    display: none;
    animation: up 2s;
}

@media screen and (max-width: 1024px) {
    .full-image-h {
        margin: 10rem 10%;
        width: 80%;
        height: auto;
    }

    .full-image-v {
        margin: 7rem 15%;
        width: 70%;
        height: auto;
    }

    .header {
        font-size: .5rem;
    }

    .header span {
        padding: 0 1rem;
    }

    .alert {
        padding: .7rem .5rem;
        font-size: .7rem;
    }
}

@media screen and (min-width: 1920px) {
    .full-image-h {
        margin: 10rem 33%;
    }
}

@keyframes down{
    0%{margin-top:0}
    100%{margin-top:10%}
}